<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>macos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>watchos (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>watchos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>321C5A031CFC18BB0012B3AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3220D7BA1DB7F3D2006B7BFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3266F7A41DB7F65800439950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3266F7BE1DB8000900439950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3266F7E81DB8063100439950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
